<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.millipixelsinteractive_031.em">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ExpenseManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_signup.LoginSignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.OTPReceiver"
            android:screenOrientation="portrait">
            <intent-filter android:priority="0">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".shoebox.TabbedActivity" />
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed" />
        <activity
            android:name=".verify_otp.VerifyOtpActity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".dashboard.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".addexpense.AddExpense"
            android:screenOrientation="portrait" />
        <activity
            android:name=".category.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addexpense.ExpenseListBycategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.BackupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".category.AddEditCategoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".cropimage.ImageCropActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.millipixelsinteractive_031.em.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".shoebox.ImageFilterActivity" />
        <activity android:name=".shoebox.ShowShoeboxActivity"></activity>
    </application>

</manifest>