<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.millipixels.expense_rocket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:name="com.application.millipixels.expense_rocket.ExpenseManagerApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity
            android:name="com.application.millipixels.expense_rocket.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.application.millipixels.expense_rocket.onboarding.OnBoarding"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.application.millipixels.expense_rocket.login_signup.LoginSignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.application.millipixels.expense_rocket.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.application.millipixels.expense_rocket.receiver.OTPReceiver"
            android:screenOrientation="portrait">
            <intent-filter android:priority="0">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.application.millipixels.expense_rocket.shoebox.TabbedActivity"></activity>



        <activity android:name=".contrast.ContrastActivity"></activity>

        <activity android:name=".gallery.GalleyActivity"></activity>

        <activity android:name=".pdf_opener.PdfOpenActivity"></activity>



        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"></activity>

        <activity android:name="com.application.millipixels.expense_rocket.cropimage.ImageCropActivity"></activity>
        <activity android:name="com.application.millipixels.expense_rocket.shoebox.ImageFilterActivity"></activity>

        <activity
            android:name="com.application.millipixels.expense_rocket.verify_otp.VerifyOtpActity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.application.millipixels.expense_rocket.dashboard.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <activity android:name="com.application.millipixels.expense_rocket.addexpense.AddExpense"
            android:screenOrientation="portrait"/>
        <activity android:name="com.application.millipixels.expense_rocket.category.CategoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.application.millipixels.expense_rocket.addexpense.ExpenseListBycategoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.application.millipixels.expense_rocket.settings.BackupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.application.millipixels.expense_rocket.settings.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.application.millipixels.expense_rocket.category.AddEditCategoryActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.application.millipixels.expense_rocket.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditImageActivity"
            android:label="@string/title_activity_edit_image"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".editor.crop.CropActivity" />
        <activity android:name=".editor.rotate.RotateActivity" />
        <activity android:name=".editor.brightness.BightnessActivity" />
        <activity android:name=".editor.contrast.ContrastActivity" />
        <activity android:name=".editor.saturation.SeturationActivity"></activity>


        <activity android:name=".splash.TakeTour">
        </activity>


        <activity android:name=".view.Demo">


        </activity>

    </application>

</manifest>